.Info-content{
    padding-top: 7em;
    text-align: center;
}

.detail{
    font-size: large;
}

.Info-button{
    padding-top: 2em;
}

.Info-display{
    padding: 20px;
	display: inline-block;
	width: 80%;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #FFFFFF;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}