.Parking-lot-badge{
    margin-top: 5px;
    width: 1.5em;
    border-radius: 20px;
    color: #FFFFFF;
    text-align: center;
    float: left;
}

@import url(https://fonts.googleapis.com/css?family=Changa);
.Nav-bar{
    font-family: 'Changa';
    font-size: 24px;    
}

.Nav-bar-container{
  height: 80px;    
}

#nav-title {
  font-size: 40px;
  color: #0757ad;
}

.Booking-summary {
  color: #1e4072;
}

.Info-content{
  padding-top: 7em;
  text-align: center;
}

.Info-display-alert {
  color: #ba3333;
  font-weight: bold;
  font-size: 16px;
}

.detail{
  font-size: large;
  
}

.Display-container{
  justify-content: center;
  display:inline-grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5px
}

.Display-container > .Info-title {
  text-align: right;
  /* font-size: large; */
  font-weight: bold; 
  font-size: 16px;
}

.Display-container > .Info-item {
  text-align: left;
  /* font-size: large; */
  font-size: 16px;
}

.Info-button{
  padding-top: 2em;
}

.Booking-info-button{
  padding-top: 2em;
}

.Parking-lot-list{
  margin: 10px;
  height: 18em;
  line-height: 2em;
  padding: 0;
  overflow: scroll;
  overflow-x: hidden;
}

#Booking-title{
  font-weight: bold;
  font-size: 16px;
  color: #888;
}

.radio-option {
  /* padding-top: 10px;
  padding-right: 5em; */
  padding: 10px 0 0 10px;
}

.Search-box{
  opacity: 0.8;
  width: 80%;
  height: 2em;
  text-align: center;
  margin: 2.5%;
  border: none;
  border-radius: 10px;
}

.Filter-box{
  margin-left: 2.5%;
  margin-top: 10%;   
  padding: 20px;
  display: inline-block;
  width: 95%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #FFFFFF;
  position: fixed;
  z-index: 1000;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.Filter-box-bg{
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, rgba(0,0,0,1) 51%, rgba(255,255,255,0) 100%);
  position: fixed;
  z-index: 999;
  opacity: 0.3;
}

#inputMinHourRate, #inputMaxHourRate{
  border: solid 0.7px #aaaaaa;
  line-height: 12px;
  padding-left: 5px;
}

.Modal-box{
    position: relative;
    display: block;
    margin: auto;
    text-align: center;
    padding: 20px;
    width: 80%;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Display-card{
  padding: 20px;
  display: inline-block;
  width: 80%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Rating-stars {
  padding: 50px 30px;
}

.List-content {
    float: left;
    margin-left: 15px;
}

.pin {
  height: 35px;
  width: 35px;
  position: absolute;
  background-color: #c50;
  border-radius: 50% 50% 0;
  transform: scaleY(1.4) rotate(45deg);
  }

 .spinner {
    margin: 50% auto;
    width: 40px;
    height: 40px;
    position: relative;
    color: #FFFFFF;
  }

  .loading-text{
    padding-top: 5rem;
  }
  
  .spinner-cube1, .spinner-cube2 {
    background-color: #FFFFFF;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
  }
  
  .spinner-cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  @-webkit-keyframes sk-cubemove {
    25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
  }
  
  @keyframes sk-cubemove {
    25% { 
      transform: translateX(42px) rotate(-90deg) scale(0.5);
      -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 50% { 
      transform: translateX(42px) translateY(42px) rotate(-179deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    } 50.1% { 
      transform: translateX(42px) translateY(42px) rotate(-180deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    } 75% { 
      transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
      -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    } 100% { 
      transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
    }
  }

  .floating-btn{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #2ccaa3;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    box-shadow: 0px 2px 5px #666;
    z-index: 1000;
    text-align: center;
    font-size: 35px;
  }

  .History-list-content{
    height: 70vh;
    line-height: 2em;
    padding: 0;
    overflow: scroll;
    overflow-x: hidden;
  }

  .Booking-content{
    padding-top: 2em;
    text-align: center;
  }