.Parking-lot-badge{
    width: 1.5em;
    border-radius: 20px;
    color: #FFFFFF;
    text-align: center;
    float: right;
}

@import url(https://fonts.googleapis.com/css?family=Changa);
.Nav-bar{
    font-family: 'Changa';
    font-size: 24px;
    
}

.Booking-summary {
  color: #1e4072;
}

.Info-content{
  padding-top: 7em;
  text-align: center;

}

.Info-display-alert {
  color: #e20f00;
  font-weight: bold;
  font-size: 20px;
}

.detail{
  font-size: large;
  
}

.flex-container {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
}

.flex-container > .Info-title {
  /* background-color: #FFF; */
  text-align: right;
  font-size: large;
}

.flex-container > .Info-item {
  /* background-color: #FFF; */
  text-align: left;
  font-size: large;
}

.Display-container{
  justify-content: center;
  display:flex;
  flex-direction:row;
  margin-right: 65px;
}

.Info-button{
  padding-top: 2em;
}

.Parking-lot-list{
    margin: 10px;
}

.Search-box{
  opacity: 0.8;
  width: 95%;
  height: 2em;
  text-align: center;
  margin: 2.5%;
  border: none;
  border-radius: 10px;
}

.Filter-box{
  margin-left: 2.5%;
  padding: 20px;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Display-card{
  padding: 20px;
  display: inline-block;
  width: 80%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

 .spinner {
    margin: 50% auto;
    width: 40px;
    height: 40px;
    position: relative;
    color: #FFFFFF;
  }

  .loading-text{
    padding-top: 5rem;
  }
  
  .spinner-cube1, .spinner-cube2 {
    background-color: #FFFFFF;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
  }
  
  .spinner-cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  @-webkit-keyframes sk-cubemove {
    25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
  }
  
  @keyframes sk-cubemove {
    25% { 
      transform: translateX(42px) rotate(-90deg) scale(0.5);
      -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 50% { 
      transform: translateX(42px) translateY(42px) rotate(-179deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    } 50.1% { 
      transform: translateX(42px) translateY(42px) rotate(-180deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    } 75% { 
      transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
      -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    } 100% { 
      transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
    }
  }